{
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.ts",
    "test/*.ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true
}
